<!doctype html>
<html>
  <head>
    <title>Talk to Nick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style>{{{initialCSS}}}</style>
  </head>
  <body>
    <main>
      <div id="app">{{{initialHtml}}}</div>
    </main>
    <script>
      window.__INITIAL_STYLE_IDS__ = {{{initialIds}}}
      window.__INITIAL_STATE__ = {{{initialJSONState}}}
    </script>
  </body>
</html>